<h1 class="text-center mb-3">Edit Store</h1>
<%= form_with(model: @store, class:"container") do |form| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>
      <ul>
        <% @store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field form-group">
    <%= form.label "Name" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
  <% if @store.image %>
    <%= image_tag @store.image, :width=>180, :crop=>"fill", class: "rounded my-2" %>
  <% end %>
  <div class="field form-group mb-3">
    <%= form.label "Image" %>
    <%= form.file_field :image, class:"form-control" , step: :any %>
  </div>
  <div class="actions">
    <%= form.submit "Edit", class:"btn bg-gradient-tertiary white", data: { disable_with: "Wait..." } %>
    <%= link_to 'Cancel', products_path, class:"btn btn-secondary" %>
  </div>
<% end %>
