<h1 class="text-center mb-3">Sell Ex</h1>

<div class="max-width">
    <form method="GET" action="/bills/search" >
        <input type="text" name='q' placeholder="Seach by bill id, or client name..." class="form-control" />
        <input type="submit" value="search" class="btn bg-gradient white m-2" />
    </form>


    
    <% if @bills %>
        <table class="table table-bordered table-sm table-striped max-width">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Client</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Date</th>
                    <th scope="col">Show</th>
                </tr>
            </thead>

            <tbody>
                <% @bills.each do |bill| %>
                <tr scope="row">
                    <td><%= bill.id %></td>
                    <td><%= bill.buyer %> </td>
                    <td><%= bill.seller %></td>
                    <td><%= bill.created_at.strftime('%F || %I:%M || %p') %></td>
                    <td><%= button_to "Details" , bill_path(bill.id), method: "get", class:"btn blue-link" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
</div>