<h5 class="mb-2 bg-glass p-3 flex-row justify-between">
  Orders
  <div class="flex-row">
    <a href="/orders" class="btn bg-primary white py-0 mr-1">All orders</a>
    <a href="/orders?q=pending" class="btn bg-primary white py-0 mr-1">Pending orders</a>
    <a href="/orders?q=complete" class="btn bg-primary white py-0">Complete orders</a
  </div>
</h5>
<br />
<div class="table-container">
<table class="table table-bordered table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Products</th>
      <th>Total Price</th>
      <th>Items Count</th>
      <th>Phone</th>
      <th>Country</th>
      <th>City</th>
      <th>Address</th>
      <th>Status</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody id='table'>
    <% @orders.each do |order| %>
      <tr scope="row">
        <td>
          <% order.order_items.each do |item| %>
            <h6 class="bg-primary white p-1 rounded"><%= link_to item.product.name, product_path(item.product_id) %></h6>
          <% end %>
        </td>
        <td><%= order.total_price %></td>
        <td><%= order.items_count %></td>
        <td><%= order.phone %></td>
        <td><%= order.country %></td>
        <td><%= order.city %></td>
        <td><%= order.address %></td>
        <td>
          <% if order.status == 'complete'  %>
            <i class="fas fa-check success"></i>
          <% else %>
            <i class="fas fa-times danger"></i>
          <% end %>
        </td>
        <td>
          <div class="dropdown dropleft">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gear"></i>
            </button>
            <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Mark as complete', "/orders/#{order.id}/update_status/complete", class:"btn bg-success white dropdown-item mb-2" if order.status != "complete" %>
              <%= link_to 'Mark as pending', "/orders/#{order.id}/update_status/pending", class:"btn bg-secondary white dropdown-item mb-2" if order.status != "pending"  %>
              <%= link_to 'Details', order, class:"btn bg-primary white dropdown-item mb-2" %>
              <%= button_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn bg-gradient-danger white dropdown-item" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
