<h1 class="text-center mb-3">Orders</h1>
<div class="table-container">
<table class="table table-bordered table-sm table-striped max-width">
  <thead class="thead-dark">
    <tr>
      <th>Products</th>
      <th>Total Price</th>
      <th>Items Count</th>
      <th>Phone</th>
      <th>Country</th>
      <th>City</th>
      <th>Address</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody id='table'>
    <% @orders.each do |order| %>
      <tr scope="row">
        <td>
          <% order.order_items.each do |item| %>
            <h6><%= link_to item.product.name, product_path(item.product_id) %></h6>
          <% end %>
        </td>
        <td><%= order.total_price %></td>
        <td><%= order.items_count %></td>
        <td><%= order.phone %></td>
        <td><%= order.country %></td>
        <td><%= order.city %></td>
        <td><%= order.address %></td>
        <td>
          <% if order.status_done  %>
            <i class="fas fa-check success"></i>
          <% else %>
            <i class="fas fa-times danger"></i>
          <% end %>
        </td>
        <td><%= link_to 'Details', order, class:"btn bg-primary white" %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn bg-gradient-danger white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
