<h1 class="text-center mb-3">Edit Product Item</h1>


<div class="container">
<%= form_with(model: @item) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label "Purchasing Price" %>
    <%= form.number_field :buying_price, class:"form-control", step: :any %>
  </div>

  <div class="actions my-3">
    <%= form.submit 'Edit', class:"btn bg-gradient-tertiary white", data: { disable_with: "Wait..." } %>
  </div>
<% end %>
</div>

<div class="container">
    <%= link_to 'Show Product', @item.product %> |
    <%= link_to 'Back', products_path %>
</div>