<h1 class="text-center mb-3">
  Existing Product
</h1>

<div class="container">

<%= form_with(model: @item) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label 'Product' %>
    <%= select_tag "item[product_id]", options_from_collection_for_select(@products, "id", "name"), class:"form-control", prompt: "اختر المنتج", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label "Item Purchasing Price" %>
    <%= form.number_field :buying_price, class:"form-control", step: :any, required: true%>
  </div>

  <div class="field mb-3">
    <%= form.label "Quantity" %>
    <%= form.number_field :quantity, class:"form-control", required: true %>
  </div>

  <div class="actions my-3">
    <%= form.submit 'Add', class:"btn bg-gradient-tertiary white", data: { disable_with: "Wait..." } %>
  </div>
<% end %>

<%= link_to 'Cancel', root_path, class:"btn btn-secondary" %>
</div>