<h1 class="text-center mb-3">Edit Product</h1>
<%= form_with(model: @product, class:"container") do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field form-group">
    <%= form.label "Name" %>
    <%= form.text_field :name, class:"form-control", placeholder: "Name" %>
  </div>
  <div class="field form-gruop">
    <%= form.label "Category" %>
    <%= select_tag "product[#{:category_id}]", options_from_collection_for_select(@categories, "id", "name"), class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "Selling Price" %>
    <%= form.number_field :selling_price, class:"form-control" , step: :any, placeholder: "Selling Price" %>
  </div>
  <div class="field form-group">
    <%= form.label "Wholesale Price" %>
    <%= form.number_field :whole_sale_price, class:"form-control" , step: :any, placeholder: "Wholesale Price" %>
  </div>
  <% if @product.image.attached? %>
    <%= image_tag @product.image, :width=>180, :crop=>"fill", class: "rounded my-2" %>
  <% end %>
  <div class="field form-group mb-3">
    <%= form.label "Image" %>
    <%= form.file_field :image, class:"form-control" , step: :any %>
  </div>
  <div class="actions">
    <%= form.submit "Edit", class:"btn bg-gradient-tertiary white", data: { disable_with: "Wait..." } %>
    <%= link_to 'Cancel', products_path, class:"btn btn-secondary" %>
  </div>
<% end %>
