<h5 class="mb-2 bg-glass p-3 flex-row justify-between">
  Products
  <div class="flex-row">
    <a href="/products/new" class="btn bg-primary white py-0 mr-1">New product</a>
  </div>
</h5>
<br>
<div class="table-container">
<table class="table table-bordered table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Selling Price</th>
      <th scope="col" small='true'>Stock Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id='table'>
    <% @products.each do |product| %>
      <tr scope="row">
        <td><%= product.name %></td>
        <td><%= product.selling_price %> </td>
        <td><%= product.quantity %> <%= product.quantity <= 1 ? 'Piece' : "Pieces" %></td>
        <td>
          <div class="dropdown dropleft">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gear"></i>
            </button>
            <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Units', product, class:"btn bg-primary white mb-2 dropdown-item" %>
            <%= button_to 'Delete', product, method: :delete, data: { confirm: 'You sure..?' }, class:"btn bg-gradient-danger white dropdown-item" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<script>
  function printDiv(divID) {
         //Get the HTML of div
         var divElements = document.getElementById(divID).innerHTML;
         //Get the HTML of whole page
         var oldPage = document.body.innerHTML;
         //Reset the page's HTML with div's HTML only
         document.body.innerHTML =
           "<html><head> <link rel='stylesheet' href='https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css' integrity='sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe' crossorigin='anonymous'></head><body>" +
           divElements + "</body>";
         //Print Page
         window.print();
         //Restore orignal HTML
         document.body.innerHTML = oldPage;
     }
</script>
