<div class="text-center p-3 mb-3">
    <h1><%= @product.name %></h1>
</div>

<div class="row p-3 text-center max-width flex-row justify-between">
  <% if current_user.admin %>
    <%= link_to 'Edit Product', edit_product_path(@product), class:"btn bg-gradient-secondary white" %>
  <% end %>
  <%= link_to 'Back', products_path, class:"btn bg-secondary white" %>
</div>

<div class="row p-3 text-center max-width bg-gradient-tertiary btn-dark">
  <h4 class="col-6">Quantity</h4>
  <h4 class="col-6"><%= @product.items.count %></h4>
</div>

<div class="row p-3 text-center max-width">
  <h4 class="col-6">Selling Price</h4>
  <h4 class="col-6"><%= @product.selling_price %></h4>
</div>

<div class="row p-3 text-center max-width bg-gradient-tertiary btn-dark">
  <h4 class="col-6">Wholesale Price</h4>
  <h4 class="col-6"><%= @product.whole_sale_price %></h4>
</div>


<table class="table table-bordered table-sm table-striped max-width mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item ID</th>
      <% if current_user.admin %>
        <th scope="col">Purchasing Price</th>
      <% end %>
      <th scope="col">Date of purchase</th>
    </tr>
  </thead>

  <tbody>
    <% @product.items.each do |item| %>
      <tr scope="row">
        <td><%= item.id %></td>
        <% if current_user.admin %>
          <td>$<%= item.buying_price %> </td>
        <% end %>
        <td><%= item.created_at.strftime('%F - %I:%M - %p') %></td>
        <!-- <td><%= button_to 'Edit', edit_item_path(item.id), method: :get, class:"btn bg-gradient-secondary white" %></td> -->
        <% if current_user.admin %>
          <td><%= button_to 'Expired With Cashback', {:controller => "items", :action => "destroy", :money_back => true, :id => item.id}, method: :delete,  data: { confirm: 'Are you sure..?' }, class:"btn btn-secondary" %></td>
          <td><%= button_to 'Expired With Loss', item, method: :delete, data: { confirm: 'Are you sure..?' }, class:"btn bg-gradient-danger white" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


