<h1 class="text-center mb-3">
    Sales  
</h1>

<br>


<table class="table table-bordered table-sm table-striped max-width">
  <thead class="thead-dark">
    <tr>
      <th scope="col" small='true'>Bill</th>
      <th scope="col">Product</th>
      <th scope="col" small='true'>Quantity</th>
      <th scope="col">Selling Price</th>
      <th scope="col">After Discount</th>
      <th scope="col">Seller</th>
      <th scope="col">Selling Date</th>
      <% if current_user.admin %>
      <th colspan="2">Controls</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr  scope="row">
        <td><%= button_to sale.bill.id , bill_path(sale.bill.id), method: "get", class:"btn blue-link" %> </td>
        <% if sale.product %>
          <td><%= button_to sale.name , product_path(sale.product.id), method: "get", class:"btn blue-link" %></td>
        <% else %>
          <td><%= sale.name %></td>
        <% end %>
        <td><%= sale.quantity %></td>
        <td>$<%= sale.selling_price %> <%= " - " + sale.sale_type if sale.sale_type %> </td>
        <td>$<%= sale.quantity * sale.selling_price - sale.discount %></td>
        <% if sale.bill.seller %>
          <td><%= sale.bill.seller %></td>
          <% else %>
          <td><%= sale.seller %></td>
        <% end %>
        <td><%= sale.created_at.strftime('%F || %I:%M || %p') %></td>
        <% if current_user.admin %>
          <td><%= button_to 'Edit', edit_sale_path(sale), class:"btn bg-gradient white p-1", method: "get" %></td>
          <td><%= button_to 'Return', sale, method: :delete, data: { confirm: 'Are you sure..?' } , class:"btn bg-gradient-danger white p-1" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
