<h5 class="mb-2 bg-glass p-3 flex-row justify-between align-center">
  <span>Dashboard</span> 
  <a class="btn white bg-tertiary" href='https://sellex-store.vercel.app/<%= @current_store.name.downcase %>' target="_blank">
    <i class="fas fa-store"></i> Visit store
  </a>  
</h5>



<div class="row m-1  m-auto justify-content-center">
    <div class="col-12 justify-content-center row py-1 rounded p-0">
      <div class="col-3 p-2 pl-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-sack-dollar' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Earnings  </p>
            <h4>$<%= @total_sales %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-money-bill-1-wave' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Month  </p>
            <h4>$<%= @month_sales %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-cube' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Products  </p>
            <h4><%= @products_count %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2 pr-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-user' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Customers  </p>
            <h4><%= @clients_count %></h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row m-auto justify-content-center">
    <div class="col-12 justify-content-center row pb-2 rounded p-0">
      <div class="col-3 p-2 pl-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-truck-fast' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Orders  </p>
            <h4><%= @orders %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-boxes-packing' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Sold units   </p>

            <h4><%= @order_items %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fas fa-th-large' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Categories  </p>
            <h4><%= @categories_count %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2 pr-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fas fa-store' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Stores  </p>
            <h4><%= @stores_count %><small class="primary"> > </small> <small class="tertiary"><%= @active_stores_count %> active</small> </h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row pt-1">
  <div class="col-7">
  <div class="bg-glass py-2 pr-3 pl-1">
    <%= line_chart @orders_chart,
    download: {filename: "orders_track", background: "white"},
    colors: ["#3b3eac", "#f75165", "#00c5ff", '#00ee9f'],
    label: "Orders",
    title: "Daily Orders",
    xtitle: "Time",
    ytitle: "Sales",
    empty: "No orders"
     %>
  </div>
  </div>
  <div class="col-5 pl-0">
  <div class="bg-glass p-2">
    <%= pie_chart @categories_chart, download: {filename: "categories_track", background: "white"}, title: "Categories Sales", donut: true, dataset: {borderWidth: 5}, empty: "No categories with sales", prefix: "$", thousands: ",", legend: 'right', colors: ["#3b3eac", "#f75165", "#00c5ff", '#00ee9f'] %>
  </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-5 pr-0">
  <div class="bg-glass p-2">
    <%= pie_chart @finished_orders_chart, download: {filename: "categories_track", background: "white"}, title: "Store orders", dataset: {borderWidth: 5}, empty: "No orders", suffix: " Orders", thousands: ",", legend: 'right', colors: [ "#f75165", "#00c5ff", '#00ee9f', "#3b3eac"] %>
  </div>
  </div>
  <div class="col-7">
  <div class="bg-glass py-2 pr-3 pl-1">
  <%= area_chart @users_chart,
  download: {filename: "orders_track", background: "white"},
  colors: ["#3b3eac", "#f75165", "#00c5ff", '#00ee9f'],
  label: "Users",
  title: "Store Users",
  xtitle: "Time",
  ytitle: "Users",
  empty: "No users"
  %>
  </div>
  <%#
  <div class="bg-glass py-4 pr-4">
    <%= line_chart current_user.stores.map { |store|
      {name: store.name, data: store.orders.group_by_day(:created_at).count}
    }, colors: ["#3b3eac", "#f75165", "#00c5ff", '#00ee9f'] %>
  </div>
  
  </div>
</div>

<div>

</div>
