<h5 class="mb-2 bg-glass p-3">
  Dashboard  
</h5>

<div class="row m-1  m-auto justify-content-center">
    <div class="col-12 justify-content-center row py-1 rounded p-0">
      <div class="col-3 p-2 pl-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-sack-dollar' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Earnings  </p>
            <h4>$<%= @total_sales %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-money-bill-1-wave' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Month  </p>
            <h4>$<%= @month_sales %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-cube' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Products  </p>
            <h4><%= @products_count %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2 pr-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-user' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Customers  </p>
            <h4><%= @clients_count %></h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row m-auto justify-content-center">
    <div class="col-12 justify-content-center row pb-2 rounded p-0">
      <div class="col-3 p-2 pl-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-truck-fast' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Orders  </p>
            <h4><%= @orders %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fa fa-boxes-packing' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Sold items   </p>

            <h4><%= @order_items %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fas fa-th-large' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Categories  </p>
            <h4><%= @categories_count %></h4>
          </div>
        </div>
      </div>
      <div class="col-3 p-2 pr-0">
        <div class="flex-row p-1 py-3 bg-glass rounded dashboard-card">
          <div class="col-4 flex-row align-items-center justify-center">
            <i class='fas fa-store' style="font-size: 1.5rem"></i>
          </div>
          <div>
            <p class="m-0">  Stores  </p>
            <h4><%= @stores_count %><small class="primary"> > </small> <small class="tertiary">1 active</small> </h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row pt-1">
  <div class="col-7">
  <div class="bg-glass py-4 pr-4">
    <%= line_chart @sales_chart,
    colors: ["#3b3eac", "#00c5ff"],
    xtitle: "Time",
    ytitle: "Sales",
    empty: "No sales"
     %>
  </div>
  </div>
  <div class="col-5 pl-0">
  <div class="bg-glass p-4">
    <%= pie_chart @categories_chart, donut: true, dataset: {borderWidth: 1, color: 'red'}, empty: "No categories with sales" %>
  </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-5 pr-0">
  <div class="bg-glass p-4">
    <%= area_chart Product.group_by_day(:created_at).count %>
  </div>
  </div>
  <div class="col-7">
  <div class="bg-glass py-4 pr-4">
    <%= line_chart Product.all.map { |product|
      {name: product.name, data: Sale.group_by_day(:created_at).count}
    } %>
  </div>
  </div>
</div>

<div>

</div>
