<% dashboard = current_page?(root_url) ? "active": ""  %>
<% sales = current_page?(new_bill_url) ||
current_page?('/sales') ? "active": "" %> <% bill =
current_page?("/bills/search") ? "active": "" %> <% transactions =
current_page?(transactions_url) ||
current_page?("/transactions/new?type=increase") ||
current_page?("/transactions/new?type=decrease") ? "active": "" %> <% debts =
current_page?(debts_url) ? "active": "" %> <% products =
current_page?(products_url) || current_page?(new_item_url)||
current_page?(new_product_url) ? "active": "" %> <% categories =
current_page?(categories_url) || current_page?(new_category_url) ? "active": ""
%> <% stores = current_page?(stores_url) || current_page?(new_store_url) ?
"active": "" %>
 <% orders = current_page?(orders_url) ? "active": "" %>
 <% clients = current_page?(clients_url) ? "active": "" %>
<div class="flex-col mt-2 h-100">
  <div class="sidebar-links flex-col mt-2 w-100">
    <%= link_to root_url do %>
      <div class="sidebar-link flex-row align-center <%= dashboard %>">
        <%= fa_icon "home" %> Dashboard
      </div>
    <% end %>
 
   <%= link_to "/orders" do %>
    <div class="sidebar-link flex-row align-center <%= orders %>">
      <i class="fas fa-store"></i>
      Orders
    </div>
    <% end %> <%= link_to "/transactions" do %>
    
    <% end %> <%# Admin specific!!!!!!!!!!!!!!! %> <%# <% if current_user.admin
    %> <%= link_to "/categories" do %>
    <div class="sidebar-link flex-row align-center <%= categories %>">
      <i class="fas fa-th-large"></i>
      Categories
    </div>
    <% end %>
    
    <%= link_to products_url do %>
    <div class="sidebar-link flex-row align-center <%= products %>">
      <%= fa_icon "cube" %> Products
    </div>
    <% end %>   <%# <% end %> 
    <%= link_to "/stores" do %>
    <div class="sidebar-link flex-row align-center <%= stores %>">
      <i class="fas fa-store"></i>
      My Stores
    </div>
    <% end %>
    <%= link_to "/clients" do %>
    <div class="sidebar-link flex-row align-center <%= clients %>">
      <i class="fas fa-user"></i>
      My Clients
    </div>
    <% end %>
    <div class="logout-container d-flex justify-content-center mt-1">
      <%= button_to '/users/sign_out', class: "logout-btn" , method: :delete do
      %>
      <div class="flex-row align-center white bg-danger p-1 rounded">
        <i class='fa fa-sign-out white'></i>
        <span class="px-1 white">Logout</span>
      </div>
      <% end %>
    </div>
  </div>
  <br />
  <%# LOGOUT %>
</div>
